/*@font-face {
  font-family: "IRANSansX";
  src: url("./assets/fonts/IRANSansX-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
*/
@font-face {
  font-family: "IRANSansX";
  src: url("./assets/fonts/IRANSansX-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

/*@font-face { font-family: "IRANSansX";src: url("./assets/fonts/IRANSansX-Bold.woff2")format("woff2");font-weight: 700;}*/
html,
body,
#root{
  margin:0;
  padding:0;

  font-family:
    "IRANSansX",
    sans-serif;
}

*{
  font-family:inherit;
}

